body {
  box-sizing: border-box;
  font-family: 'Open Sans';
  font-weight: 200;
  color: #fff;
  margin: auto;
}

.main-width {
  max-width: 1920px;
  width: 100%;
  margin: auto;
}

.section-width {
  position: relative;
  max-width: 1170px;
  width: 100%;
  margin: auto;
}

header {
  background: url(https://raw.githubusercontent.com/conspir0/cut-psd-layout/master/images/jumbotron.png) center/cover no-repeat fixed;
  height: 950px;
}

header .text-container {
  position: absolute;
  top: 520px;
  width: 450px;
}

header .text-container .title-jumbotron {
  font-size: 60px;
  line-height: 60px;
  margin-bottom: 20px;
}

header .text-container p {
  font-size: 13px;
  line-height: 24px;
}

header .phone {
  position: absolute;
  top: 290px;
  right: -100px;
  background: url(https://raw.githubusercontent.com/conspir0/cut-psd-layout/master/images/phone.png) no-repeat;
  width: 716px;
  height: 948px;
}

article {
  height: 430px;
}

article .container {
  margin-top: 100px;
  padding: 0;
}

article .container p {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 24px;
  color: #959595;
}

article .container .article-title {
  font-size: 35px;
  color: #222626;
}

.boxes .container {
  margin-right: 0;
  max-width: 1545px;
  width: 100%;
}

.boxes [class*='box-'] {
  height: 280px;
  padding: 0;
}

.boxes .box-1 {
  background-color: #f5989d;
}

.boxes .box-2 {
  background-color: #615f7d;
}

.boxes .box-3 {
  background: url(https://raw.githubusercontent.com/conspir0/cut-psd-layout/master/images/box-3.png) center/cover no-repeat;
}

.boxes .box-4 {
  background-color: #bd8cbf;
}

.boxes .box-5 {
  background: url(https://raw.githubusercontent.com/conspir0/cut-psd-layout/master/images/box-5.png) center/cover no-repeat;
}

.boxes .box-6 {
  background-color: #82ca9c;
}

.boxes .box-7 {
  background: url(https://raw.githubusercontent.com/conspir0/cut-psd-layout/master/images/box-7.png) center/cover no-repeat;
}

.boxes .article-title {
  font-size: 30px;
  padding: 50px 50px 30px 50px;
  margin: 0;
}

.boxes p {
  font-size: 13px;
  line-height: 24px;
  padding: 0 50px;
  max-width: 550px;
}

.boxes p.link {
  position: absolute;
  bottom: 25px;
  left: 0;
  font-weight: 800;
}

article.second-article .title {
  font-weight: 800;
  color: #67676d;
  padding-top: 40px;
}

article.second-article p {
  text-align: justify;
}

section.second-jumbotron {
  position: relative;
  background: url(https://raw.githubusercontent.com/conspir0/cut-psd-layout/master/images/jumbotron2.png) center/cover no-repeat fixed;
  height: 870px;
}

section.second-jumbotron .text-container {
  position: absolute;
  top: 450px;
  width: 510px;
}

section.second-jumbotron .text-container .title-jumbotron {
  font-size: 60px;
  line-height: 70px;
  margin-bottom: 20px;
}

section.second-jumbotron .text-container .content-jumbotron {
  font-size: 13px;
  line-height: 24px;
  padding-right: 60px;
}

section.second-jumbotron .text-container .link {
  position: absolute;
  bottom: -50px;
  left: 0;
  font-weight: 800;
}

/*# sourceMappingURL=style.css.map */