body {
  box-sizing: border-box;
  font-family: 'Open Sans';
  font-weight: 200;
  color: #fff;
}

.main-width {
  width: 100%;
  max-width: 1920px;
  margin: auto;
}

.large-title {
  font-size: 60px;
  line-height: 70px;
  padding-bottom: 10px;
}

.medium-title {
  font-size: 35px;
  line-height: 45px;
  padding-bottom: 10px;
  transition: 1s;
}

.small-title {
  font-size: 13px;
  font-weight: bold;
  line-height: 24px;
  padding-bottom: 10px;
}

.text-content {
  font-size: 13px;
  line-height: 24px;
  width: 100%;
  padding-bottom: 10px;
}

.link a {
  font-weight: 800;
  color: #fff;
  text-decoration: none;
}

.flex-align {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.flex-direction {
  -ms-flex-direction: column;
      flex-direction: column;
}

article {
  padding: 90px 0;
}

.main-jumbotron {
  height: 100%;
  background: url(https://raw.githubusercontent.com/conspir0/cut-psd-layout/master/images/jumbotron.png) center/cover no-repeat;
  transition: .8s;
}

.main-jumbotron .flex-align {
  height: 100vh;
}

.main-jumbotron .flex-align .text-content {
  width: 100%;
}

.main-jumbotron .phone {
  display: block;
  position: relative;
  height: 100%;
  top: 30vh;
  left: 13vw;
  cursor: pointer;
  animation: phonePulse 2s infinite;
}

.change-jumbotron {
  background: url(https://raw.githubusercontent.com/conspir0/cut-psd-layout/master/images/bright-jumbotron.png) center/cover no-repeat;
}

@keyframes phonePulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.03);
  }
  100% {
    transform: scale(1);
  }
}

#first-article .medium-title {
  color: #222626;
}

#first-article .text-content {
  color: #959595;
}

#boxes .container {
  margin-right: 0;
  width: 100%;
  max-width: 1545px;
}

#boxes .container .row {
  margin: 0;
}

#boxes .container .row [class*='box-'] {
  height: 300px;
  padding: 50px 50px 30px 50px;
}

#boxes .container .row [class*='box-'] .medium-title {
  font-size: 30px;
}

#boxes .container .row [class*='box-'] .text-content {
  width: 100%;
  max-width: 400px;
}

#boxes .container .row [class*='box-'] .link {
  position: absolute;
  bottom: 20px;
  left: 50px;
  width: calc(100% - 120px);
}

#boxes .container .row [class*='box-'] img {
  position: absolute;
  height: 0%;
  margin-left: 10px;
  transition: 3s;
}

#boxes .container .row [class*='box-'] .link:hover img {
  margin-left: calc(100% - 80px);
  height: 80%;
}

#boxes .container .row .box-1 {
  background-color: #f5989d;
}

#boxes .container .row .box-2 {
  background-color: #615f7d;
}

#boxes .container .row .box-3 {
  background: url(https://raw.githubusercontent.com/conspir0/cut-psd-layout/master/images/box-3.png) center/cover no-repeat;
}

#boxes .container .row .box-4 {
  background-color: #bd8cbf;
}

#boxes .container .row .box-5 {
  background: url(https://raw.githubusercontent.com/conspir0/cut-psd-layout/master/images/box-5.png) center/cover no-repeat;
}

#boxes .container .row .box-6 {
  background-color: #82ca9c;
}

#boxes .container .row .box-7 {
  background: url(https://raw.githubusercontent.com/conspir0/cut-psd-layout/master/images/box-7.png) center/cover no-repeat;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  padding: 50px 50px 30px 50px;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

#second-article .medium-title {
  color: #67676d;
  padding-bottom: 50px;
}

#second-article .small-title {
  color: #67676d;
}

#second-article .text-content {
  color: #959595;
  text-align: justify;
}

#second-jumbotron {
  height: 100vh;
  background: url(https://raw.githubusercontent.com/conspir0/cut-psd-layout/master/images/jumbotron2.png) center/cover no-repeat fixed;
}

#second-jumbotron .flex-align {
  height: 100vh;
}

#second-jumbotron .flex-align .flex-direction {
  padding-top: 200px;
}

#second-jumbotron .flex-align .text-content, #second-jumbotron .flex-align .large-title {
  padding-right: 50px;
}

#third-article {
  background-color: #82ca9c;
}

#third-article .medium-title {
  padding-bottom: 50px;
}

#third-article .text-content {
  padding-right: 30px;
}

#containers {
  padding: 100px 0;
  background-color: #f6f7fa;
}

#containers [class*='cont-'] {
  position: static;
  padding: 50px 50px 30px;
  transition: .8s;
}

#containers [class*='cont-']:hover {
  background-color: #fff;
  box-shadow: 10px 10px 60px #e1e1e1;
}

#containers [class*='cont-']:hover .tag {
  background-color: #bd8cbf;
}

#containers [class*='cont-'] .tag {
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  background-color: #e1e1e1;
  padding: 10px 20px;
  margin-bottom: 40px;
  border-radius: 6px;
  letter-spacing: 2px;
  transition: .5s;
}

#containers [class*='cont-'] .medium-title {
  color: #2e3b4e;
}

#containers [class*='cont-'] .text-content {
  font-weight: normal;
  color: #8297a7;
}

#containers [class*='cont-'] button {
  background-color: #82ca9c;
  border: 1px solid #82ca9c;
  border-radius: 5px;
  padding: 15px 30px;
  font-weight: bold;
  letter-spacing: 3px;
  transition: .3s;
}

#containers [class*='cont-'] button:hover {
  background-color: inherit;
  color: #82ca9c;
}

#containers [class*='cont-'] .icons {
  height: 30px;
  margin: 20px 0 0 0;
}

#containers [class*='cont-'] .icons .icon-box {
  float: left;
  height: 30px;
  width: 25px;
  margin: 0 10px;
}

#containers [class*='cont-'] .icons .icon-box [class*='icon-'] {
  cursor: pointer;
  height: 25px;
  width: 20px;
  transition: .3s;
}

#containers [class*='cont-'] .icons .icon-box [class*='icon-']:hover {
  height: 30px;
  width: 25px;
}

#containers [class*='cont-'] .icons .icon-box .icon-1 {
  background: url(https://raw.githubusercontent.com/conspir0/cut-psd-layout/master/images/fa-apple.png) center/cover no-repeat;
}

#containers [class*='cont-'] .icons .icon-box .icon-2 {
  background: url(https://raw.githubusercontent.com/conspir0/cut-psd-layout/master/images/fa-windows.png) center/cover no-repeat;
}

footer {
  background-color: #192431;
  padding: 140px 0;
}

footer .link {
  font-weight: lighter;
}

footer .text-under-input {
  color: #57697f;
  max-width: 330px;
}

footer .substr-input {
  border: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 15px;
  height: 60px;
  width: calc(100% - 60px);
  max-width: 500px;
  float: left;
  font-size: 25px;
  color: #192431;
}

footer .substr-btn {
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 60px;
  width: 60px;
  background: url(https://raw.githubusercontent.com/conspir0/cut-psd-layout/master/images/send-button.png) center/cover no-repeat;
  background-size: 30px;
  background-color: #82ca9c;
  transition: 0.3s;
}

footer .substr-btn:hover {
  background-color: #60aa7a;
}

@media (min-width: 1199.98px) {
  #containers [class*='cont-'] {
    margin: 0 20px;
    width: calc(50% - 40px);
  }
}

@media (min-width: 1199.98px) and (max-width: 1370px) {
  .main-jumbotron .photo {
    left: 5vw;
  }
  #boxes .container .row [class*='box-'] {
    padding: 40px 40px 30px 40px;
  }
  .overlay {
    padding: 40px 40px 30px 40px;
  }
  #boxes .container .row [class*='box-'] .medium-title {
    padding: 0;
  }
}

@media (max-width: 1199.98px) {
  #containers [class*="cont-"] {
    margin: 20px auto;
  }
}

@media (min-width: 768px) and (max-width: 1199.98px) {
  .main-jumbotron .photo {
    left: -24vw;
  }
  #containers [class*='cont-'] {
    margin: 0 20px;
    width: calc(50% - 40px);
  }
}

@media (max-width: 768px) {
  .main-jumbotron .photo {
    display: none;
  }
  #containers [class*='cont-'] {
    margin: 20px;
    width: calc(100% - 40px);
  }
  #second-jumbotron .flex-align .text-content {
    padding-right: 0;
  }
  #second-jumbotron .flex-align .large-title {
    padding-right: 10px;
  }
  footer .substr-input {
    font-size: 20px;
  }
}
/*# sourceMappingURL=style.prefixed.css.map */