body {
    box-sizing: border-box;
    font-family: 'Open Sans';
    font-weight: 200;
    color: #fff;
}
.main-width {
    width: 100%;
    max-width: 1920px;
    margin: auto;
}
.large-title {
    font-size: 60px;
    line-height: 70px;
    padding-bottom: 10px;
}
.medium-title {
    font-size: 35px;
    line-height: 45px;
    padding-bottom: 10px;
    transition: 1s;
}
.small-title {
    font-size: 13px;
    font-weight: bold;
    line-height: 24px;
    padding-bottom: 10px;
}
.text-content {
    font-size: 13px;
    line-height: 24px;
    width: 100%;
    padding-bottom: 10px;
}
.link {
    font-weight: 800;
    color: #fff;
    text-decoration: none;
}
.flex-align {
    display: flex;
    align-items: center;
}
.flex-direction {
    flex-direction: column;
}
article {
    padding: 90px 0;
}

// MAIN-JUMBOTRON
#main-jumbotron {
    height: 950px;
    background: url(https://raw.githubusercontent.com/conspir0/cut-psd-layout/master/images/jumbotron.png) center/cover no-repeat fixed;
    transition: .8s;
    .flex-align {
        height: 950px;
        .text-content {
            width: 450px;
        }
    }
    .phone {
        display: block;
        position: relative;
        top: 30%;
        left: -25.5%;
    }
}

// FIRST ARTICLE
#first-article {
    .medium-title {
        color: #222626;
    }
    .text-content {
        color: #959595;
    }
}

// BOXES
#boxes {
    .container {
        margin-right: 0;
        width: 100%;
        max-width: 1545px;
        .row {
            margin: 0;
            [class*='box-'] {
                height: 300px;
                padding: 50px 50px 30px 50px;
                .medium-title {
                    font-size: 30px;
                }
                .text-content {
                    width: 100%;
                    max-width: 400px;
                }
                .link {
                    position: absolute;
                    bottom: 20px;
                    left: 50px;
                }    
            }
            .box-1{
                background-color: #f5989d;
            }
            .box-2{
                background-color: #615f7d;
            }
            .box-3{
                background: url(https://raw.githubusercontent.com/conspir0/cut-psd-layout/master/images/box-3.png) center/cover no-repeat;
            }
            .box-4{
                background-color: #bd8cbf;
            }
            .box-5{
                background: url(https://raw.githubusercontent.com/conspir0/cut-psd-layout/master/images/box-5.png) center/cover no-repeat;
            }
            .box-6{
                background-color: #82ca9c;
            }
            .box-7{
                background: url(https://raw.githubusercontent.com/conspir0/cut-psd-layout/master/images/box-7.png) center/cover no-repeat;
            }
        }
    }
}
// SECOND ARTICLE
#second-article {
    .medium-title {
        color: #67676d;
        padding-bottom: 50px;
    }
    .small-title {
        color: #67676d;  
    }
    .text-content {
        color: #959595;
        text-align: justify;
    }
}

// SECOND JUMBOTRON
#second-jumbotron {
    height: 875px;
    background: url(https://raw.githubusercontent.com/conspir0/cut-psd-layout/master/images/jumbotron2.png) center/cover no-repeat fixed;
    .flex-align {
        height: 875px;
        width: 100%;
        max-width: 550px;
        .large-title {
            padding-top: 300px;
        }
        .text-content {
            padding-right: 100px;
        }
    }
}

// THIRD ARTICLE
#third-article {
    background-color: #82ca9c;
    .medium-title {
        padding-bottom: 50px;
    }
    .text-content {
        padding-right: 30px;
    }
}

// CONTAINERS
#containers {
    padding: 100px 0;
    background-color: #f6f7fa;
    [class*='cont-'] {
        position: static;
        padding: 50px 50px 30px;
        margin: auto;
        margin: 10px;
        min-width: 500px;
        max-width: calc(50% - 40px);
        transition: .8s;
        [class*='col-md-'] {
            margin-top: 40px;
   
        }
        &:hover {
            background-color: #fff;
            box-shadow: 10px 10px 60px #e1e1e1;
        }
        &:hover .tag {
            background-color: #bd8cbf;
        }
        .tag {
            display: inline-block;
            font-size: 11px;
            font-weight: bold;
            background-color: #e1e1e1;
            padding: 10px 20px;
            margin-bottom: 40px;
            border-radius: 6px;
            letter-spacing: 2px;
            transition: .5s;
        }
        .medium-title {
            color: #2e3b4e;
        }
        .text-content {
            font-weight: normal;
            color: #8297a7;
            width: 380px;
            height: 100px;
            
        }
        button {
            background-color: #82ca9c;
            border: 1px solid #82ca9c;
            border-radius: 5px;
            padding: 15px 30px;
            font-weight: bold;
            letter-spacing: 3px;
            transition: .3s;
            &:hover {
                background-color: inherit;
                color: #82ca9c;
            }
        }
        .icons {
            height: 30px;
            margin: 20px 0 0 0;
            .icon-box {
                float: left;
                height: 30px;
                width: 25px;
                margin: 0 10px;;
                [class*='icon-'] {
                    cursor: pointer;
                    height: 25px;
                    width: 20px;
                    transition: .3s;
                    &:hover {
                        height: 30px;
                        width: 25px;
                    }
                }
                .icon-1 {
                    background: url(https://raw.githubusercontent.com/conspir0/cut-psd-layout/master/images/fa-apple.png) center/cover no-repeat;
                }
                .icon-2 {
                    background: url(https://raw.githubusercontent.com/conspir0/cut-psd-layout/master/images/fa-windows.png) center/cover no-repeat;
                }
            }   
        }
    }
}
// FOOTER
footer {
    background-color: #192431;
    padding: 140px 0;
    .link {
        font-weight: lighter;
    }
    .text-under-input {
        color: #57697f;
        width: 330px;
    }
    .substr-input {
        border: 0;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        padding: 15px;
        height: 60px;
        width: 400px;
        float: left;
        font-size: 25px;
        color: #192431;
    }
    .substr-btn {
        border: none;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        height: 60px;
        width: 60px;
        background: url(https://raw.githubusercontent.com/conspir0/cut-psd-layout/master/images/send-button.png) center/cover no-repeat;
        background-size: 30px;
        background-color: #82ca9c;
        transition: 0.3s;
        &:hover {
            background-color: #60aa7a;
        }
    }
}
@media (min-width:  1199.98px) and (max-width: 1370px) {
    #boxes .container .row [class*='box-'] {
        padding: 40px 40px 30px 40px;
    }
    #boxes .container .row [class*='box-'] .medium-title {
        padding: 0;
    }
}
@media (max-width: 1199.98px) {
    #main-jumbotron .photo {display: none}
    #containers [class*="cont-"] {
        margin: 20px auto;
        
    }
}